*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: contain;
    font-family: cursive;

}
.container{
    
    height: 100vh;
    color: white;
    background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

h1{
    text-align: center;
    font-family: cursive;
}
h3{
    margin-top: 5px;
    width: fit-content;
    position: relative;
    left: 25rem;
    font-family: cursive;
    font-size: 15px;
}
ul li{
    width: fit-content;
    list-style-type: none;
    padding: 15px;
    font-family: cursive;
    margin-top: 5px;
    position: relative;
    left: 15cm;
    font-size: 15px;
}


.music{
    text-align: center;
}